# Android
.gradle/
.idea/
**/build/
local.properties
*.iml

# Visual Studio
.vs/
**/bin/
**/obj/
*.suo
*.user
*.csproj.user

# Publishing and secrets
*.publishsettings
*.pubxml.user

# Operating system files
.DS_Store
Thumbs.db